<!-- Footer -->
<div class="row sitefooter">
	<div class="col-md-12">
	<br>
	<p><a href=" {{ site.baseurl }}{{ site.blog }}">Blog</a> | <a href=" {{ site.baseurl }}{{ site.contact }}">Contact</a> | <a href=" {{ site.baseurl }}{{ site.about }} ">About</a> | <a href=" {{ site.baseurl }}{{ site.projects }}">Projects</a></p>
	<br>
	<img class="footer-logo" src="{{site.baseurl}}{{ site.footerlogo }}" alt="Footer Logo">
	<br>
	<p>Copyright &copy; {{ site.title }} 2017 - Present.</p>
	<p><a href="https://github.com/patrickmfsd/Miniplistic">Miniplistic Theme</a> created by <a href="{{ site.github }}">patrickmfsd</a></p>		
	</div>
</div>